.footer-bottom {
    padding: 20px 0 10px;
    border-top: 1px solid #666;
    background: #f8f9fa;
}
.copyright-text p {
    color: #172556;
    margin-top: 9px;
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #172556;
    border: 1px solid #172556;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}