.footer-bottom {
    padding: 20px 0 10px;
    border-top: 1px solid #666;
    background: #202020;
}
.copyright-text p {
    color: #fff;
    margin-top: 9px;
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #9A6BD3;
    border: 1px solid #9A6BD3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}

hr.footer {
    color: #FFD322;
    border-top: 1px solid #8c8b8b;
    border-color: #FFD322; 
    border-style: solid; 
}