table {
  border: 5px solid black;
  margin: auto;
  padding: 10px;
  line-height: 2;
  font-size: 30px;
}

h3 {
  color: red;
  margin: auto;
}

.CustomTable {
  border: 1px solid blue;
  width: 30%;
}
