

.fa-bicycle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
}

.back  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-127%, -33%);
  z-index: 7;
}

.front  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(27%, -33%);
  z-index: 7;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #999;
  font-size: 13em;
}

.spin-slow {
  color: #999;
  animation: cog-spin-foward infinite 3s linear;
}

@keyframes cog-spin-foward {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin {
  color: #999;
  animation: cog-spin infinite 1s linear;
}

@keyframes cog-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bici{
  color:#1AC44D;
}