.login-square {
	width: 900px;
	height: 300px;
}

.panel-heading{
	background-color: #0084b4;
	color: white;
	padding: 5px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.panel {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
	border-radius: 10px;
	border: 1px solid gray;

}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}

.row {
	padding: 10px;
}

.icon-pos {
	float: left;
	padding-top: 5px;
}


.btnSocial {
	color: white;
}

.google-btn {
	background-color: #d62d20;
}

.facebook-btn {
	background-color: #3b5998;
}

.twitter-btn {
	background-color: #00aced;
}
